<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        :root {
            {{#if @custom.header_button_background}}
            --button-bg-color: {{@custom.header_button_background}};
            {{/if}}
            --button-text-color: {{#match @custom.header_button_text_color "Light"}}#fff{{else}}var(--color-darkgrey){{/match}};
        }
    </style>

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/home.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/blog.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/header.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/download.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/blog.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/footer.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/post.css"}}" />

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}">
<div class="viewport">
	<header>
		<div>
			<nav class="extraPadding">
				<section class="github-star">
					<span>Give us a star on GitHub</span>
					<a class="github-icon" target="_blank" rel="noopener noreferrer" href="https://github.com/frain-dev/convoy">
						<img src="../assets/images/github-icon-white.svg" alt="github icon" />
					</a>
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/frain-dev/convoy">
						<button>
							<img src="../assets/images/github-star.svg" alt="github star" />
							<span id="githubStars"></span>
						</button>
					</a>
				</section>

				<div>
					<button class="menu-button" id="menu-button">
						<img src="../assets/images/menu-icon.svg" alt="menu icon" width="24" />
					</button>
					<button class="menu-button hidden" id="menu-close-button">
						<img src="../assets/images/close-icon.svg" alt="close icon" width="24" />
					</button>

					<div class="logo">
						<a href="/">
							<img src="../assets/images/logo.svg" alt="logo" />
						</a>
					</div>

					<ul id="menu">
						<li>
							<a href="/#features">Features</a>
						</li>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/docs">Docs</a>
						</li>
						<li>
							<a target="_blank" rel="noopener noreferrer" href="https://convoy-community.slack.com/join/shared_invite/zt-xiuuoj0m-yPp..ylfYMCV9s038QL0IUQ#/shared-invite/email">Community</a>
						</li>
						<li>
							<a href="/download">Download</a>
						</li>
						<li class="github">
							<a href="https://github.com/frain-dev/convoy">
								<img src="../assets/images/github-logo.svg" alt="github logo" />
							</a>
						</li>
					</ul>

					<a href="https://github.com/frain-dev/convoy" class="small">
						<img src="../assets/images/github-logo.svg" alt="github logo" />
					</a>
				</div>
			</nav>
			<div class="overlay" id="menu-overlay"></div>
		</div>
	</header>

    <div class="site-content">
		{{{body}}}
    </div>

    <footer>
		<div class="container">
			<nav>
				<div>
					<div class="logo">
						<img src="../assets/images/logo.svg" alt="logo" />
					</div>
					<ul class="socials">
						<li>
							<a target="_blank" rel="noopener noreferrer" href="https://github.com/frain-dev/convoy"><img src="../assets/images/github-icon.svg" alt="mail logo" /></a>
						</li>
						<li>
							<a target="_blank" rel="noopener noreferrer" href="https://github.com/frain-dev/convoy"><img src="../assets/images/linkedin.svg" alt="linkedin logo" /></a>
						</li>
						<li>
							<a target="_blank" rel="noopener noreferrer" href="mailto:info@frain.dev"><img src="../assets/images/mail-icon.svg" alt="mail logo" /></a>
						</li>
						<li>
							<a target="_blank" rel="noopener noreferrer" href="https://join.slack.com/t/convoy-community/shared_invite/zt-xiuuoj0m-yPp..ylfYMCV9s038QL0IUQ">
								<img src="../assets/images/slack-icon.svg" alt="slack logo" />
							</a>
						</li>
						<li>
							<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/fraindev"><img src="../assets/images/twitter-icon.svg" alt="twitter logo" /></a>
						</li>
					</ul>
				</div>
				<div class="newsletter">
					<div>
						<div>
							<h5>Join our newsletter</h5>
							<p>No spam! Just articles, events, and talks.</p>
						</div>
						<img src="../assets/images/mailbox.gif" alt="mailbox animation" />
					</div>
					<form @submit.prevent="requestAccess()">
						<img src="../assets/images/mail-primary-icon.svg" alt="mail icon" />
						<input type="email" id="email" placeholder="Your email" aria-label="Email" v-model="earlyAccessEmail" />
						<button>
							<img src="../assets/images/send-primary-icon.svg" alt="send icon" />
						</button>
					</form>
				</div>
			</nav>
			<p class="copyright">Copyright {{ currentYear }}, All Rights Reserved</p>
		</div>
	</footer>

</div>
{{!-- /.viewport --}}


{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script src="{{asset "built/casper.js"}}"></script>
<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();

	const menuButton = document.querySelector('#menu-button');
	const menu = document.querySelector('#menu');
	const menuOverlay = document.querySelector('#menu-overlay');
	const menuCloseButton = document.querySelector('#menu-close-button');

	menuButton.addEventListener('click', () => {
		menuButton.classList.add('hidden');
		menuCloseButton.classList.remove('hidden');
		menu.classList.add('show');
		menuOverlay.classList.add('show');
	})

	menuOverlay.addEventListener('click', () => closeMenu());
	menuCloseButton.addEventListener('click', () => closeMenu());

	function closeMenu () {
		menuButton.classList.remove('hidden');
		menuCloseButton.classList.add('hidden');
		menu.classList.remove('show');
		menuOverlay.classList.remove('show');
	};

	async function getGithubStars() {
		try {
			const response = await fetch('https://api.github.com/repos/frain-dev/convoy');
			const data = await response.json();
			document.querySelector('#githubStars').textContent = data.stargazers_count
		} catch (_error) {}
	}
	getGithubStars();
});
</script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
