{{!< main}} {{!-- The tag above means: insert everything in this file into the {body} tag of the default.hbs template --}} {{#post}} {{!-- Everything inside the #post block pulls data from the post --}} 
    <div class="main">
        <div class="page blog-page">
            <article class="blog-post article {{post_class}} {{#match @custom.post_image_width " Full"}}image-full{{else match @custom.post_image_width "=" "Small" }}image-small{{/match}}">
                <header class="article-header gh-canvas">
                    <div class="post-page--head">
                        <div class="breadcrumb">
                            <a href="/blog">Blog</a>

                            <span class="breadcrumb--divider">|</span>
                            {{#if primary_tag}}
                                <span class="breadcrumb__tag"><a href="{{primary_tag.url}}">{{primary_tag.name}}</a></span>
                            {{/if}}
                        </div>

                        <div class="date">
                            {{reading_time}}
                            <span>&bull;</span>
                            <time class="byline-meta-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date}}</time>
                        </div>
                    </div>

                    <h1 class="article-title post-page--title">{{title}}</h1>

                    <div class="post-page--author">
                        <section class="article-byline-content">
                            <ul class="author-list">
                                {{#foreach authors}}
                                <li class="author-list-item">
                                    {{#if profile_image}}
                                    <a href="{{url}}" class="author-avatar">
                                        <img class="author-profile-image" src="{{img_url profile_image size=" xs"}}" alt="{{name}}" />
                                    </a>
                                    {{else}}
                                    <a href="{{url}}" class="author-avatar author-profile-image">{{> "icons/avatar"}}</a>
                                    {{/if}}
                                </li>
                                {{/foreach}}
                            </ul>
                            
                            <div class="article-byline-meta">
                                <h4 class="author-name">{{authors}}</h4>
                                <div class="byline-meta-content">
                                    <span class="byline-reading-time"> {{meta_title}}</span>
                                </div>
                            </div>
                        </section>
                        
                        <div>
                            <p>Share to:</p>
                            <ul class="socials">
                                <li>
                                    <a
                                        rel="noopener noreferrer"
                                        :href="'https://twitter.com/intent/tweet/?text=' + blogPost.title + '%20from%20@fraindev&url=https://getconvoy.io/blog/' + blogPost.slug + '&via=frainDev'"
                                        target="_blank"
                                    >
                                        <img src="../assets/images/twitter-grey-icon.svg" alt="twitter logo" />
                                    </a>
                                </li>

                                <li>
                                    <a rel="noopener noreferrer" :href="'https://www.linkedin.com/sharing/share-offsite/?mini=true&url=https://getconvoy.io/blog/' + blogPost.slug + ''" target="_blank">
                                        <img src="../assets/images/linkedin-grey-icon.svg" alt="linkedin logo" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                <section class="gh-content gh-canvas">
                    {{content}}
                </section>

                {{!--
                <section class="article-comments gh-canvas">
                    If you want to embed comments, this is a good place to paste your code!
                </section>
                --}}

            </article>

            {{!-- Read more links, just above the footer --}}
            {{#if @custom.show_recent_posts}}
            {{!-- The {#get} helper below fetches some of the latest posts here
            so that people have something else to read when they finish this one.

            This query gets the latest 3 posts on the site, but adds a filter to
            exclude the post we're currently on from being included. --}}
            {{#get "posts" filter="id:-{{id}}" include="authors" limit="2" as |more_posts|}}

            {{#if more_posts}}
            <div class="more-posts">
                <h1>More Posts</h1>
                <div class="posts post-feed">
                    {{#foreach more_posts}}
                    {{> "post-card"}}
                    {{/foreach}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>


{{/get}}
{{/if}}

{{/post}}